@charset "utf-8";
/* CSS Document */

/* Intro */

#wrapper {
	background:url(../img/intro/intro_bg.jpg) repeat-x top;
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	font-family:Titillium Web;
}

#wrapper p {
	font-size:16px;
	font-weight:300;
}

#wrapper h4 {
	font-weight:600;
	font-family:Titillium Web;
}

#wrapper img {
	margin:0 auto;
	text-align:center;
}

#wrapper ul {
	margin:0 auto;
	padding:0;
	list-style-type:none;
}

#wrapper ul li {
	text-align:center;
	display:inline-block;
	margin:0 2px;
}

#wrapper ul li a {
	width:70px;
	height:70px;
	margin:0 auto;
	display:inline-block;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	-ms-border-radius: 70px;
	border-radius: 70px;
}

.red {
	background:#eb3e38;
}

.orange {
	background:#e57d04;
}

.yellow {
	background:#f2b701;
}

.green {
	background:#7cb854;
}

.blue {
	background:#0070aa;
}

.purple {
	background:#7c378a;
}

.violet {
	background:#b10058;
}

.colorfulx {
	color:#eb3e38;
	letter-spacing:0.1em;
	text-transform:uppercase;
	margin-bottom:20px;
}

.red-bg {
	background:#eb3e38;
	padding:5px 15px;
	color:#fff;
}

.orange-bg {
	background:#e57d04;
	padding:5px 15px;
	color:#fff;
}

.green-bg {
	background:#7cb854;
	padding:5px 15px;
	color:#fff;
}