
@charset utf-8;

/* CSS Document */
/*
Theme Name:  Fantazia - from Creative WP.k
Description:  Fantazia - Multi Purpose Bootstrap Retina One Page Template
Version: 1.0 - initial release
Author:  Creative WP
Website:  http://creative-wp.com/themes/fantazia
*/

/* 
CSS General
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext);

.clearfix
{
  display: block;
  display: inline-block;
  *zoom: 1;
}

.clear
{
  clear: both;
  display: block;
  height: 0px;
  width: 100%;
  overflow: hidden;
}

hr
{
  background: #eeeeee;
  height: 1px;
  border: none;
  width: 100%;
  float: left;
  margin: 40px 0 40px 0;
}

/*  Body CSS */
body
{
  font: 14px/24px "PT Sans", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

/*  Margin & Padding */

.mrg-top
{
  margin-top: 40px;
}

.mrg-bottom
{
  margin-bottom: 40px;
}

.mrg80
{
  margin: 60px 0;
}

.mrg0
{
  margin: 0 auto;
}

.pad-top
{
  padding-top: 20px;
}

.pad-bottom
{
  padding-bottom: 20px;
}

.flt-l
{
  float: left;
  margin: 0 20px 20px 0;
}

.flt-r
{
  float: right;
  margin: 0 0 20px 20px;
}

.img-center{
	margin:0 auto;
	text-align:center;
}


/* Typography */


h1, h2, h3, h4, h5, h6
{
  margin-bottom: 20px;
  color: #2a2a2a;
  font-family: "Oswald", Helvetica, Arial, sans-serif;
}

h1
{
  font-size: 38.5px;
  font-weight: 700;
}

h2
{
  font-size: 31.5px;
  font-weight: 700;
}

h3
{
  font-size: 24.5px;
  font-weight: 700;
}

h4
{
  font-size: 18.5px;
  font-weight: 400;
}

h5
{
  font-size: 14.5px;
  font-weight: 400;
}

h6
{
  font-size: 12.5px;
  font-weight: 400;
}

h4 i
{
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

p
{
  margin-bottom: 10px;
  line-height: 20px;
}

h4 strong
{
  font-weight: 400;
}

a, a > *
{
  -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
  -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
  -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
  -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
  transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
  outline: none;
  text-decoration: none;
}

a:hover, a > *:hover
{
  color: #2a2a2a;
  text-decoration: none;
  outline: none;
}

input, textarea
{
  background: #fff;
  border: 1px solid #dddddd;
  color: #2a2a2a;
  font-size: 18px;
  padding: 8px 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0;
}

input:focus, input:hover, textarea:focus, textarea:hover
{
  background: #fff;
  color: #2a2a2a;
}

input[type='submit']
{
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input[type='submit']:hover
{
  background: #2a2a2a;
  border: 1px solid #2a2a2a !important;
}

textarea
{
  min-height: 100px;
}


/* scollbar */

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track
{
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb
{
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(42,42,42,0.8);
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive
{
  background: rgba(42,42,42,0.5);
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
{
  display: block;
}

section
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 50;
  overflow: auto;
}

input,
select,
textarea
{
  font: 12px/24px "PT Sans", 
	Helvetica, Arial, sans-serif;
}

/* Fixed Elemnts  */

#fixed-elements
{
  position: fixed;
  z-index: 100;
  width: 100%;
}

#fixed-elements nav.main-menu
{
  height: 100%;
  position: fixed;
}

/* Menu  */

.cbp-vimenu
{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #2a2a2a;
  height: 100%;
  width: 50px;
  border-right: 1px solid #1b1b1b;
}

.cbp-vimenu .social-list
{
  position: absolute;
  bottom: 0;
  padding: 0;
  list-style: none;
}

.cbp-vimenu li a i
{
  color: #fff;
}

.cbp-vimenu li:first-child a
{
  border-top: none;
}

.cbp-vimenu li a
{
  display: block;
  width: 50px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  position: relative;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid #1b1b1b;
  border-top: 1px solid #373737;
}


/* class for current item */
.cbp-vimenu li.cbp-vicurrent a
{
  background: #fff;
}

.cbp-vimenu li a.active
{
  text-decoration: none;
}

/* Example for media query (depends on total height of menu) */
@media screen and (max-height: 34.9375em)
{
 

  .cbp-vimenu
  {
    font-size: 70%;
  }
}


/* Slideshow */

.cbp-bislideshow
{
  list-style: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}

.cbp-bislideshow li
{
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cbp-bislideshow li 
{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cbp-bislideshow li img 
{
	display: none;
}

.cbp-bislideshow li img 
{
	display: block;
	width: 100%;
}

.cbp-bicontrols {
	position: fixed;
	width: 300px;
	height: 100px;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}

.cbp-bicontrols span 
{
	float: left;
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cbp-bicontrols span:before 
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

/* Fallback */

.no-js.no-backgroundsize .cbp-bislideshow li:first-child 
{
	opacity: 1;
}

.no-js.backgroundsize .cbp-bislideshow li:first-child img 
{
	display: block;
}

/* Hello Section */

#hello {
	width:100%;
	height:100%;
}

.pattern {
	background:url(../img/pattern.png) repeat;
	width:100%;
	height:100%;
	position: relative;
	z-index:1;
	padding-top:140px;
}

#fade {
	list-style:none;
	margin-top:80px;
}

#fade h1 {
	font-size:70px;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:0.1em;
	text-shadow:5px 5px 0px rgba(1,1,1,0.1);
	font-weight:300;	
}

#fade span {
	font-weight:700;
}

.welcome-btn {
	margin-top:60px;
}

.welcome-btn a {
	text-transform:uppercase;
	letter-spacing:0.1em;
	border:1px solid #fff;
	padding:8px 30px;
	color:#fff;
	font-size:18px;
	text-shadow:1px 1px 0 rgba(1,1,1,0.1);
}

.welcome-btn a i {
	color:#fff;
	font-size:14px;
}

/* navbar for mobile */

.navbar-fixed-top {
	display: none;
	background:#fff;
	height:50px;
	position: absolute;
	top:0;
	width:100%;
	background:#2a2a2a;
}

.navbar-nav li {
	display:inline-block;
	float:left;
}

.navbar-nav li a {
	text-align: center;
	color: #fff;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;
	font-size:16px;
	-webkit-font-smoothing: antialiased;
	display:block;
	padding:0 8px;
	height:49px;
	line-height:50px;
	border-left:1px solid #1b1b1b;
	border-right:1px solid #373737;

}

.navbar-nav li:first-child a {
	border-left:none;
	border-right:none;
}

.navbar-nav li:last-child a {
	border-right:none;
}

.navbar-nav li  a:hover,
.navbar-nav li a a.active {
	background:#1b1b1b;
}


.navbar-nav li a i {
	color:#fff;
}

.navbar-nav {
	margin:0;
	padding:0;
}

/*  ABOUT US  */

#about {
	background:#fff;
}

.grey {
	width:100%;
	padding:60px 0;
	background:#f7f8f9;
}

.testimonials {
	width:100%;
	padding:60px 0;
	background:url(../img/testimonials/testimonials.jpg) no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.comment {
	width:100%;
	padding:60px 0;
	background:url(../img/comment.jpg) no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.comment h1 {
	text-align:center;
	color:#fff;
	font-weight:400;
	text-shadow:5px 5px 0px rgba(1,1,1,0.1);
	padding-bottom:40px;

}


.white {
	width:100%;
	padding:60px 0;
	background:#fff;
}

.videos {
	width:100%;
	padding:60px 0;
	background:url(../img/panel1.png) no-repeat fixed center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.dark {
	width:100%;
	padding:60px 0;
	background:#2a2a2a;
}

.process {
	width:100%;
	padding:60px 0;
	background: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.ice {
	color:#fff;
}
	

.header {
	padding:40px 0 0 0;
	width:100%;
	text-align:center;
}

.header h1 {
	font-size:50px;
	font-weight:300;
}

.header h1 span {
	font-weight:700;
}

.section-title {
	letter-spacing:0.1em;
	text-transform:uppercase;
	text-align:center;
	font-weight: 700;
}

.section-title span {
	font-weight:300;
}

section-title-left {
	letter-spacing:0.1em;
	text-transform:uppercase;
	font-weight: 700;
}
.section-title-left span {
	font-weight:300;
}


.header h1, .header h4 {
	text-transform:uppercase;
	letter-spacing:0.1em;
}

.sub-title {
	color:#999999;
	text-align:center;
	font-weight:300;
}

span.breaker {
	display:block;
	margin:40px 0 0 0;
	text-align:center;

}

span.breaker span {
	width:10%;
	height:6px;
	display:inline-block;
	background:url(../img/pattern2.png) repeat-x top;
}

span.breaker2 {
	display:block;
	margin:0 auto;
	text-align:center;

}

span.breaker2 span {
	width:50%;
	height:6px;
	display:inline-block;
	background:url(../img/pattern2.png) repeat-x top;
}

span.breaker3 {
	display:block;
	margin:20px 0 40px 0;
	text-align:center;

}

span.breaker3 span {
	width:10%;
	height:4px;
	display:inline-block;
	background:url(../img/pattern2.png) repeat-x top;
}

.icn-hov:hover .icons i {
	border:3px solid #2a2a2a;
	color:#fff;
	background:#2a2a2a;
}


.icons i {
	display:inline-block;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	-ms-border-radius: 70px;
	border-radius: 70px;
	font-size:20px;
	text-align:center;
	width:60px;
	height:60px;
	line-height:56px;
	display:block;
	font-weight:normal;
	margin:0 auto;
	margin-bottom:20px;
	-webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
   -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
   -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
   -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;
   transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, padding .3s ease;

}

.icn-hov:hover .icons i {
	border:3px solid #2a2a2a;
	color:#fff;
	background:#2a2a2a;
}


/*  Testimonials */

.cbp-qtrotator {
	position: relative;
	width: 100%;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	min-height: 80px;
	border-top: 3px solid #393939;
	padding: 2em 0 0 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}

.cbp-qtprogress {
	position: absolute;
	height: 3px;
	width: 0%;
	top: 0;
	z-index: 1000;

}

.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
	border-left:none;
}

.cbp-qtrotator blockquote:hover {
	border-left:none;
}


.cbp-qtrotator blockquote p {
	font-size: 18px;
	font-weight: 400;
	color:#fff;
	text-shadow: 1px 0px 2px #333;
}

.cbp-qtrotator blockquote small {
	font-size: 14px;
	margin-top:20px;
	text-shadow: 1px 0px 2px #333;
	font-weight:400;
}

.cbp-qtrotator blockquote footer:before {
	content: '? ';
}

.cbp-qtrotator .cbp-qtcontent img {
	float: left;
	margin-right: 2em;
	border:none;
}

/* Example for media query */
@media screen and (max-width: 30.6em) { 

	.cbp-qtrotator {
		font-size: 70%;
	}
	.cbp-qtrotator img {
		width: 80px;
	}

}

.facebook {
	background:#4c66a4;
	padding:10px 30px;
	font-weight:300;
	color:#fff;
	text-transform:uppercase;
	border-bottom:5px solid #354b7d;
}

.twitter {
	background:#88bee1;
	padding:10px 20px;
	font-weight:300;
	color:#fff;
	text-transform:uppercase;
	border-bottom:5px solid #72a0be;
}

.facebook i, .twitter i {
	font-size:20px;
	font-weight:400;
	margin-right:20px;
}

/* progress bar */

.red-bar {
	background-color:#eb3e38 !important;
	width:95%;
}

.violet-bar {
	background-color:#7c378a !important;
	width:75%;
}

.blue-bar {
	background-color:#0070aa !important;
	width:80%;
}

.green-bar {
	background-color:#7cb854 !important;
	width:55%;
}

.orange-bar {
	background-color:#e57d04 !important;
	width:55%;
}
	
.yellow-bar {
	background-color:#f2b701 !important;
	width:90%;
}
	

/* Partners */

.item-image img {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.item-image img:hover {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}


/* Our Team */

p.team-title {
	background:#e5e5e5;
	color:#2a2a2a;
	font-size:16px;
	font-weight:400;
	text-align:center;
	padding:15px 0;
	margin:0;
	text-transform:uppercase;
	letter-spacing:0.1em;
	font-family:"Oswald", Helvetica, Arial, sans-serif;
}

p.job-title {
	color:#2a2a2a;
	text-align:center;
	padding:10px 0;
	margin:0;
	font-size:14px;
	background:#e0e0e0;
}

.team-box {
	margin-bottom:20px;
	border-bottom:3px solid #e5e5e5;
}

.team-box img {
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

.team-box:hover img {
	opacity:0.5;
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */

}

.social-media-icons {
	margin:0 auto;
	text-align:center;
}

.social-media-icons a i {
	line-height:40px;
}

.social-media-icons a {
	width:40px;
	height:40px;
	margin:0 auto;
	display:inline-block;
	color:#fff;
	background:#2a2a2a;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	-ms-border-radius: 70px;
	border-radius: 70px;
	font-size:20px;
	text-align:center;
}

.social-media-icons a:hover i {
	color:#fff;
}

.socials {
	position:absolute;
	display: inline-block;
	top:0;
	right:0;
	left:0;
	bottom:0;
	opacity:0;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   margin:0 auto;
   margin-top:40%;
   text-align:center;
}

.team-box:hover .socials {
	opacity:1;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}



/* Services */

#services {
	background:#fafafa;
}


.ca-menu2 {
	position:relative;
	text-align:center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding-bottom:20px;
	border-bottom:3px solid rgba(255, 255, 255, 0);
}

.ca-menu2 i {
	font-size:30px;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.ca-menu2 h4 {
	margin:20px 0px;
	text-transform:uppercase;
	font-weight:400;
	color:#aeaeae;

}

/* Pricing Tables */

.pricing_table {
	margin: 0 auto; 
	width: 100%; 
	max-width: 100%;
	padding:0;
}

.price_block {
	text-align: center; 
	width: 100%; 
	color: #fff; 
	float: left; 
	list-style-type: none; 
	transition: all 0.25s; 
	position: relative; 
	box-sizing: border-box;
	margin-bottom: 10px; 
	border-bottom: 1px solid transparent; 
}

/* Price heads */

.pricing_table h3 {
	text-transform: uppercase; 
	padding: 5px 0; 
	margin: -10px 0 1px 0;
	color:#fff;
	letter-spacing:0.1em;
}

h3.price_block {
	color:#fff;
}

.red-table h3 {
	background:#eb3e38;
}

.red-table .price {
	background:#d0322d;
}

.violet-table h3 {
	background:#7c378a;
}

.violet-table .price {
	background:#5d2468;
}

.blue-table h3 {
	background:#0070aa;
}

.blue-table .price {
	background:#005d8d;
}

.green-table h3 {
	background:#7cb854;
}

.green-table .price {
	background:#639641;
}

/*Price tags*/
.price {
	display: table; 
	width: 100%; 
	height: 70px; 
}
.price_figure {
	font-size: 24px; 
	text-transform: uppercase; 
	vertical-align: middle; 
	display: table-cell;
}
.price_number {
	font-weight: 700; 
	display: block;
}
.price_tenure {
	font-size: 11px; 
}

/*Features*/
.features {
	background: #f1f1f1; 
	color: #2a2a2a;
}
.features li {
	padding: 8px 15px;
	border-bottom: 1px solid #ddd; 
	font-size: 14px; 
	list-style-type: none;
}

.footer {
	padding: 15px; 
	background: #ddd;
}

.red-table:hover .action_button {
	background:#eb3e38;
}

.violet-table:hover .action_button {
	background:#7c378a;
}

.blue-table:hover .action_button {
	background:#0070aa;
}


.green-table:hover .action_button {
	background:#7cb854;
}

.action_button {
	text-decoration: none; 
	color: #fff; 
	font-weight: 700; 
	background: #2a2a2a; 
	padding: 5px 20px; 
	font-size: 11px; 
	text-transform: uppercase;
}

.price_block:hover {
	box-shadow: 1px 1px 1px 20px rgba(0, 0, 0, 0.1); 
	transform: scale(1.08) translateY(-20px); 
	z-index: 1; 
	border-bottom: 0 none;
}



@media only screen and (min-width : 480px) and (max-width : 768px) {
	.price_block {width: 50%;}
	.price_block:nth-child(odd) {border-right: 1px solid transparent;}
	.price_block:nth-child(3) {clear: both;}
	
	.price_block:nth-child(odd):hover {border: 0 none;}
}
@media only screen and (min-width : 768px){
	.price_block {width: 25%;}
	.price_block {border-right: 1px solid transparent; border-bottom: 0 none;}
	.price_block:last-child {border-right: 0 none;}
	
	.price_block:hover {border: 0 none;}
}

.vimeo {
	border:none;
}


/* projects  */

#adventures {
	background-image: url(../img/projectsbg.png);
    background-repeat:repeat;
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
#adventures {
	background-image: url(../img/projectsbg.png);
	 background-repeat:repeat;
	 background-size: 412px 412px;
}
}

.og-grid {
	list-style: none;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding:0;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #fff;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #2a2a2a;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-size: 31.5px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	font-weight:400;
}

.og-details p {
	line-height: 22px;
}

.og-details a {
	font-size: 14px;
	text-transform: capitalize;
	padding: 10px 20px;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
	float:right;
}

.og-details a::before {
	display: inline-block;
}

.og-details a:hover {
	border:2px solid #2a2a2a;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #f1f1f1;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #f1f1f1; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #f1f1f1; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #f1f1f1; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; height:100%; }
	
}

.img-hover:hover {
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */

}

/* portfolio */

#services {
	background: #000 url(../img/servicesbg.png) repeat-y scroll left top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

}


.portfolioFilter ul {
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0;
	margin-bottom:20px;
}

.portfolioFilter ul li {
	display:inline-block;
	margin:0;
	padding:0;
}

.portfolioFilter ul li a { 
   	margin-right:2px;
	line-height:1.428571429;
	border: none;
	border-radius:0px;
	background:#f1f1f1;
	background:rgba(241,241,241,.2);
	color:#fff;
	padding:10px 15px;
	float:left;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:400;
	letter-spacing:0.1em;
	font-family:"Oswald", Helvetica, Arial, sans-serif;
	font-weight:300;
}

.portfolioFilter ul li.active>a,..portfolioFilter ul li.active>a:hover,.portfolioFilter ul li.active>a:focus{
	color:#fff;
	border:none;

}


.portfolioFilter a.current { 
	color:#fff;
	border:none;
	text-decoration:none;
}

.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.portfolioContainer .col-lg-3, .portfolioContainer .col-md-4, .portfolioContainer .col-sm-6 {
	margin:0px;
	padding:0px;
}

.view {
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   width:100%;
   height:100%;
}

.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   width:100%;
   height:100%;
}

.view img {
   display: block;
   position: relative;
}

.view h3 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 21.5px;
   padding: 10px;
   margin: 20px 20px 0px 20px;
}

.view p {
   font-size: 14px;
   position: relative;
   color: #fff;
   padding: 10px 20px 10px;
   text-align: center;
}

.view a.info {
   display: inline-block;
   text-decoration: none;
   background: #2a2a2a;
   color: #fff;
   -webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-o-border-radius: 70px;
	-ms-border-radius: 70px;
	border-radius: 70px;
	width:50px;
	line-height:50px;
	height:50px;
	font-size:22px;
	margin-top:30px;
}

.view a.info:hover i {
	color:#fff;
}

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}

.view-tenth .mask {
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

.view-tenth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   text-transform:uppercase;
}

.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}

.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}

.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

/* Contact */

#contact {
	background: url(../img/map.jpg) #fafafa no-repeat center center;
}

.container-map {
	width:100%;
	margin:0 auto;
	margin-top:60px;
}


.colorful {
	margin-right:5px;
}

.contact-details h3 {
	font-weight:400;
}

.contact-details p {
	line-height:24px;
}

#contact p strong {
	font-weight:400;
	color:#2a2a2a;
}

.form {
	margin:0 auto;
	width:60%;
	position:relative;
}

.form ul {
	padding:0;
	list-style-type:none;
}

.form ul li {
	margin-bottom:3px;
}

.form input, .form textarea {
	width:100%;
	font-size:14px;
}

.loading {
	float:right; 
	background:url(../img/ajax-loader.gif) no-repeat 1px; 
	height:28px; 
	width:28px; 
	display:none;
}

.done {
	background:#dff0d8;
	border:1px solid #d6e9c6;
	font-size:14px; 
	width:100%;
	color:#468847;
	margin:0 auto; 
	display:none;
	padding:10px 5px;
	margin-top:40px;
}

.element .error {
	border:2px solid #9F1319;
	background:url(../img/iconCaution.gif) no-repeat 98% 50%;
}

.contactForm input, .contactForm textarea {
	margin-bottom:20px;
}

.contactForm input:focus, .contactForm textarea:focus {
	color:#2a2a2a;
}
.social-contact {
	padding:0;
	margin:0 auto;
	text-align:center;
}

.social-contact li {
	display:inline-block;
	margin-bottom:10px;
}

.social-contact li a {
	display:block;
	width:75px;
	height:75px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
	background:#ddd;
	text-align:center;
	font-size:28px;
	line-height:80px;
}

.social-contact li a i {
	color:#fff;
}


#hidden_map { 
	height:100%;
	width:100%;
	height:540px;
	position:relative;
	overflow:hidden;
}

/* components */

#components {
	background:#fff;
}
.components-title {
	width:100%;
	background:url(../img/pattern2.png) repeat-x center center;
	margin-top:80px;
	margin-bottom:40px;
	text-align:center;
	letter-spacing:0.1em;
	text-transform:uppercase;
}

.components-title span {
	background:#fff;
	padding:0 50px;
}



/* Dividers */

.divider1, .divider2, .divider3, .divider4, .divider5, .divider6 {
	width:100%;
	margin:40px 0;
}

.divider2 {
	border:1px dashed #eeeeee;
	height:1px;
}

.divider3 {
	border:1px dotted #eeeeee;
	height:1px;
}

.divider4 {
	border:3px solid #eeeeee;
	height:1px;
}

.divider5 {
	border:2px solid #eeeeee;
	height:1px;
}

.divider6 {
	border:1px solid #eeeeee;
	height:1px;
}

.resize {
	width:144px;
	height:144px;
}

.category_menu {
	padding:0;
	list-style-type:none;
}

.category_menu li a {
	padding:5px 18px;
	color:#2a2a2a;
	display:block;
	background:url(../img/bullet.png) no-repeat 2% 50%;
	border-bottom:1px solid #ddd;
}

.category_menu li:last-child a {
	border-bottom: none;
}

.category_menu li a:hover {
	color:#fff;
}

.post {
	border-bottom:1px solid #ddd;
	margin-bottom:10px;
	padding-bottom:10px;
}

.post p {
	margin:0;
	padding:0;
}

.post:last-child {
	border-bottom: none;
	margin-bottom:0px;
}

.newsletter {
	height:40px;
	line-height:40px;
	font-size:14px;
	text-align:center;
	width:60%;
	margin-bottom:10px;
}

.backtotop {
	width:60px;
	height:60px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	-o-border-radius: 80px;
	-ms-border-radius: 80px;
	border-radius: 80px;
	background:#2a2a2a;
	display:block;
	margin: 0 auto;
	text-align:center;
	line-height:60px;
	font-size:18px;
}

.backtotop i {
	color:#fff;
}

#loading { 
	position: fixed; 
	top: 0; 
	width:100%; 
	height:100%; 
	background: #2a2a2a; 
	z-index: 999999; 
	display: block !important; 
}

#loading img { 
	position: fixed; 
	top: 50%; 
	left: 50%; 
	margin: -25px 0 0 -25px;
}

.share-this span span span:first-child {	
	height:23px;
}


/*  Under Construction */

.under-construction {
	text-align:center;
	margin-top:150px;
	letter-spacing:0.1em;
	text-transform:uppercase;
}

.under-construction h4 {
	font-weight:normal;
}

.under-construction h1, .under-construction h4, .under-construction h5   {
	color:#fff;
	text-shadow: 1px 1px 1px #333;
	line-height:30px;
}

.back-btn {
	margin-top:60px;
	text-align:center;
}

.back-btn a {
	text-transform:uppercase;
	letter-spacing:0.1em;
	border:1px solid #ddd;
	padding:8px 30px;
	font-size:16px;
	text-shadow:1px 1px 0 rgba(1,1,1,0.1);
}

.back-btn a i {
	color:#ddd;
	font-size:14px;
}

.back-btn a:hover
{
	color:#fff;
}

/*  CountDown */

#clock-ticker { display: block; width:444px; margin:0 auto; margin-top: 100px;}
#clock-ticker .block { position: relative; color: #fff; font-weight: 700; float: left; margin-right: 22px; }

#clock-ticker .block .flip-top { width: 88px; height: 39px; line-height: 75px; font-size: 55px; text-align: center; display:block }
#clock-ticker .block .flip-btm { width: 88px; height: 40px; text-align: center; display:block }

#clock-ticker .block .label { color: #fff; font-weight: 700; font-size: 14px; text-transform: uppercase; width: 88px; line-height: 35px; text-align: center; font-family: "Oswald", Arial, sans-serif; text-shadow: 1px 1px 1px #333; }

/*  Error Page */

.error-Page {
	text-align:center;
	margin-top:150px;
	color:#fff;
}

.error-Page p {
		text-shadow: 1px 1px 1px #333;
		font-size:120%;
}

.error-Page h4 {
	font-size:2em;
	margin:0;
	position:relative;
	top:-16px;
	color:#f1f1f1;
	text-shadow: 1px 1px 1px #484848;
}

.error-title {
	font-size:12em;
	text-shadow: 1px 1px 5px #333;
	margin:0;
}

#error .input-group {
	width:60%;
	margin:0 auto;
	margin-top:40px;
}

#error strong {
	font-size:140%;
}

#error {
	background:url(../img/background.jpg) repeat center center;
}
