@charset "utf-8";

::selection
{
  background: #f1cac8 !important;
  color: #fff;
}

::-moz-selection
{
  background: #f1cac8 !important;
  color: #fff;
}

::-webkit-selection
{
  background: #f1cac8 !important;
  color: #fff;
}

a, a > *,
.cbp-vimenu li.cbp-vicurrent a,
.ca-menu2 i,
.ca-menu2:hover h4,
.colorful,
.error-title,
.cbp-qtrotator blockquote small,
h4 strong,
.header p span i,
.icons i,
.components-btns .btn-default
{
  color: #eb3e38;
}

input[type='submit'],
.cbp-vimenu li.home-icon a,
.navbar-nav li:first-child a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.portfolioFilter ul li a:hover,
.portfolioFilter ul li.active>a,
.portfolioFilter ul li.active>a:hover,
.portfolioFilter ul li.active>a:focus,
.portfolioFilter a.current,
.view,
.social-contact li a:hover,
.welcome-btn a:hover,
.cbp-qtprogress,
.back-btn a:hover,
.components-btns .btn-primary:hover
{
  background: #eb3e38;
}

#clock-ticker .block .flip-top,
#clock-ticker .block .flip-btm
{
  background: #000;
  background: rgba(0,0,0,0.3);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover,
input[type='submit'],
.og-details a,
.back-btn a:hover,
.welcome-btn a:hover
{
  border: 1px solid #eb3e38 !important;
}

.components-btns .btn-primary:hover,
.components-btns .btn-default
{
  border: 2px solid #eb3e38;
}

.cbp-vimenu li a:hover,
.cbp-vimenu li a.active
{
  background: #1b1b1b;
  border-bottom: 1px solid #eb3e38;
}

.panel-default>.panel-heading:hover
{
  background-color: #eb3e38 !important;
}

.icons i
{
  border: 3px solid #eb3e38;
}

.ca-menu2:hover,
.navbar-nav li  a:hover,
.navbar-nav li a a.active,
.team-box:hover
{
  border-bottom: 3px solid #eb3e38 !important;
}

.og-grid li.og-expanded > a::after
{
  border-bottom-color: #eb3e38 !important;
}

.category_menu li a:hover
{
  background: url(../img/bullet.png) no-repeat 2% 50% #eb3e38 !important;
}

.navbar-nav li a:hover
{
  background: #eb3e38;
}
